# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\dev_practice\B_200706_FingerStock\FingerStock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
